# Unity3D .gitignore file.
#     Store this file at the root of your local repository.
.DS_Store
AssetImportState/
AssetServerCacheV3/
FailedAssetImports.txt
ScriptAssemblies/
ScriptMapper/
assetDatabase3/
cache/
expandedItems/
metadata/
previews/
guidmapper/
Temp/
*.pidb
build/